body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    background: hsl(0, 100%, 74%) url("images/bg-intro-desktop.png") no-repeat center;
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 9.375rem;
    box-sizing: border-box;
}

.left {
    color: white;
    width: 500px;
}

h1{
    font-size: 2.8125rem;
    line-height: 105%;
}

.left p {
    font-weight: 500;
    color: #ffdcd9;
}

.right {
    width: 540px;
}

.right>div{
    background: hsl(248, 32%, 49%);
    border-radius: 5px;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.right>div p {
    margin: 0;
    color: hsl(246, 25%, 77%);
}

.right>div span{
    font-weight: 600;
    color: white;
}

form {
    background-color: white;
    margin-top: 1.25rem;
    border-radius: 10px;
    padding: 2.8125rem;
    box-sizing: border-box;
    text-align: right;
    position: relative;
}

input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1.875rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: solid 1px hsl(246, 25%, 77%);
}

input:focus {
    outline: none;
    border-color: black;
}

.input_error {
    border-color: hsl(0, 100%, 74%);
    border-width: 2px;
}

.input_error:focus {
    border-color: hsl(0, 100%, 74%);
}

input[type="button"] {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-size: 0.9375rem;
    box-shadow: 0 3px #52ac85;
    border: none;
}

input[type="button"]:hover {
    background-color: #77e2b4;
    cursor: pointer;
}

form p {
    margin: 0;
    color: hsl(0, 100%, 74%);
    font-size: 0.6875rem;
    font-style: italic;
    font-weight: 500;
}

.requirements {
    margin-top: 0.3125rem;
    display: none;
}

.requirements_visible {
    margin-top: 0.3125rem;
    display: block;
}

input:not(:first-child) {
    margin-top: 1.25rem;
}

form p:last-child {
    color: hsl(246, 25%, 77%);
    font-style: normal;
    text-align: center;
    margin-top: 0.8125rem;
}

form p:last-child span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

svg {
    position: absolute;
    bottom: 470px;
    right: 59px;
}

@media screen and (max-width: 375px){
    #container{
        background:hsl(0, 100%, 74%) url("images/bg-intro-mobile.png");
        width: 100%;
        flex-direction: column;
        padding: 3.125rem 30px;
    }
    .left ,.right {
        width:100%;
    }
    .left{
        margin-bottom: 2.5rem;
    }
    h1{
        font-size: 1.5625rem;
        text-align: center;
    }
    .left p{
        text-align: center;
        
    }
    .right>div{
        padding: 1rem 3.125rem;
    }
    form{
        padding: 1.25rem;
    }
  
}